/* Reset margins and padding for all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, ul, li, a, p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.section {
    width: 100vw;
}

/* all mobile / Base Styles */
@media (min-width: 0px) {


    /* Navbar */

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #444;
        color: #ddd;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .navbar .brand-title {
        font-size: 1.2rem;
        background-color: #333;
    }

    .navbar .toggle-button {
        background-color: #222;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        padding: 0.3rem;
    }

    .toggle-button .bar {
        width: 1.8rem;
        height: 0.2rem;
        background-color: white;
    }

    .navbar-links {
        display: none; /* Hidden by default for mobile */
        flex-direction: row;
        gap: 10px;
        background-color: #333;
        position: absolute;
        top: 100%;
        width: 100%;
    }

    .navbar-links.active {
        display: flex; /* Shows navbar links when toggle button is clicked */
    }
    
    .navbar-links li {
        text-align: center;
        padding: 10px 0;
    }
    
    .navbar-links a {
        color: white;
        font-size: 1.2em;
    }
    
    /* navbar Brand Image */
    .brand-img-wrapper {
        width: 200px;
    }

    .brand-img-wrapper img {
        width: 100%;
        height: auto;
    }
    
    /* Reel */
    .reel-banner {
        display: flex;
        color: #bbb;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* background: url("assets/leaf.jpg") no-repeat center center; */
        background-color: black;
        background-size: cover;
        color: white;
        /* padding: 7rem 1.2rem; */
        min-height: 70vh;
        position: relative;
    }

    .reel-container {
        width: 100vw;
    }

    .reel-video {
        width: 95%;
        aspect-ratio: 16 / 9;
    }


    /* Bio */
    
    .bio {
        min-height: 400px;
    }

    .bio-content-wrapper {
        margin: 60px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .bio-img-wrapper-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .bio-img-wrapper-2 {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        justify-content: space-around;
        gap: 20px;
    }

    .bio-img-wrapper-3 {
        max-width: 400px;
    }

    /* .img-wrapper {
        width: 100%;
    } */

    .bio-img {
        width: 100%
    }

    .bio-text-wrapper {
        max-width: 70vw;
    }

    .bio-text-wrapper h2 {
        margin: 20px 0;
    }
    .bio-text-wrapper p {
        margin: 20px 0;
    }


    /* Creds (Portfolio) */
    
    .card-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        /* bottom: -50px; */
    }
    
    .card {
        background: rgba(255, 255, 255, 0.8);
        color: #222;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }


    /* Props (Testimonials) */



    /* Let's Connect (Contact) */



    /* Footer */



}

/* all screens tablet landscape and up */
@media (min-width: 768px) {


    /* Navbar */

    .navbar {
        padding: 0;
        position: relative; /* it's sticky for mobile */
    }

    .navbar .toggle-button {
        display: none; /* Hide toggle button */
    }

    .navbar-links {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        gap: 20px;
    }


    /* Reel */

    .reel-banner {
        min-height: 700px;
        padding: 150px 20px;
    }

    .reel-container {
        width: 70vw;
        max-width: 900px;
    }


    /* Bio */

    .bio-content-wrapper {
        margin: 60px auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .bio-img-wrapper-1 {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .bio-img-wrapper-2 {
        display: flex;

        min-width: 600px;
        justify-content: space-around;
    }

    .bio-img-wrapper-3 {
        max-width: 400px;
        gap: 30px;
    }

    .bio-img-and-text {
        display: flex;
        gap: 40px;
    }

    .bio-img-1 {
        padding-right: 80px;
        margin-bottom: 40px;
    }

    .bio-img-2 {
        padding-left: 20px;
    }

    /* .img-wrapper {
        width: 100%;
    } */

    .bio-img {
        width: 100%
    }

    .bio-text-wrapper {
        max-width: 500px;
    }

    .bio-text-wrapper h2 {
        margin: 20px 0;
    }
    .bio-text-wrapper p {
        margin: 20px 0;
    }


    /* Cards */

    .card-container {
        flex-direction: row;
        gap: 40px;
    }

    .card {
        min-width: 200px;
        max-width: 300px;
    }


    /* Props (Testimonials) */



    /* Let's Connect (Contact) */



    /* Footer */


}