/* all mobile / Base Styles */
@media (min-width: 0px) {

    /* Bio - mobile */
    
    .bio {
        min-height: 400px;
        background-image: linear-gradient(#600010,#050306);
    }

    .bio-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .bio-img-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .bio-img-wrapper-2 {
        padding-bottom: 80px;
    }

    .bio-img {
        width: 90%
    }

    .bio-img-and-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bio-text-wrapper {
        max-width: 70vw;
        color: #dddddd;
        text-align: center;
    }

    .bio-text-wrapper h2 {
        margin: 20px 0;
    }

    .bio-text-wrapper p {
        margin: 20px 0;
    }

    .bio-text-wrapper-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 5px double black;
        padding: 20px 10px;
    }

    .bio-text-wrapper ul {
        width: 60%;
        max-width: 300px;
        text-align: center;
    }

    .bio-text-wrapper li {
        list-style: disc;
    }
}




/* all screens tablet and up */
@media (min-width: 768px) {

        /* Bio */

        .bio-content-wrapper {
            margin: 60px auto;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
    
        .bio-img-wrapper-1 {
            display: flex;
            flex-direction: row;
            gap: 40px;
        }
    
        .bio-img-wrapper-2 {
            display: flex;
    
            min-width: 600px;
            justify-content: space-around;
        }
    
        .bio-img-wrapper-3 {
            max-width: 400px;
            gap: 30px;
        }
    
        .bio-img-and-text {
            display: flex;
            gap: 40px;
        }
    
        .bio-img-1 {
            padding-right: 80px;
            margin-bottom: 40px;
        }
    
        .bio-img-2 {
            padding-left: 20px;
        }
    
        /* .img-wrapper {
            width: 100%;
        } */
    
        .bio-img {
            width: 100%
        }
    
        .bio-text-wrapper {
            max-width: 500px;
        }
    
        .bio-text-wrapper h2 {
            margin: 20px 0;
        }
        .bio-text-wrapper p {
            margin: 20px 0;
        }
}