.bio {
    display: flex;
    flex-direction: column;
}

.bio__mixed-media {
    display: flex;
    flex-direction: column;
}

/* Tablet and larger screens */
@media (min-width: 768px) {
    .bio__mixed-media {
        flex-direction: row;
        align-items: center;
        gap: 40px;
        padding: 0 40px;
    }

    .bio__image-featured,
    .bio__image {
        width: 45%;
        margin: 0;
    }

    .bio__text {
        width: 45%;
    }
}


.--row-reversed {
    flex-direction: row-reverse;
}

.bio__title {
    margin: 40px 0;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    color: var(--color-primary);
    text-align: center;
}

.bio__featured-image {
    margin: 20px 0 5px 0;
    width: 90%;
    align-self: center;
}