.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, var(--color-1) 0%, var(--color-6) 100%);
    padding-bottom: 0;
}

.contact__title {
    padding: 0;
    color: var(--font-color-black);
    filter: drop-shadow(0 0 1px #fff);
    border-top: none;
    border-bottom: none;
}

.contact__form {
    display: flex;
    flex-direction: column;
    width: 88%;
    max-width: 600px;
    padding: 2rem;
    background-color: var(--color-4);
    border: 2px solid;
    border-radius: 30px;
    filter: drop-shadow(0 0 8px var(--color-5));
    margin: 6rem 0 0 0;
}

.contact__hidden {
    display: none;
}

.contact__form-group {
    margin-bottom: 1.5rem;
}

.contact__form-group label {
    display: block;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    text-align: left;
    font-weight: var(--font-weight-medium);
    color: var(--font-color-black);

    margin-bottom: 0.5rem;
}

.contact__form-group input,
.contact__form-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: 2px solid #adadad;
    border-radius: 4px;
    background-color: var(--color-5);


    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
}

.contact__form-group textarea {
    min-height: 150px;
    resize: vertical;
    background-color: var(--color-5);
}

.contact__submit-button {
    align-self: center;
    margin-top: 1.4rem;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;

    border: 2px solid var(--color-1);
    border-radius: 8px;

    font-family: var(--font-family-1);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
    background-color: var(--color-5);
    color: var(--font-color-black);

    text-decoration: none;
    text-align: center;
    cursor: pointer;

    filter: drop-shadow(0 0 2px #fff);
}

.contact__submit-button:hover {
    background-color: #555;
}

.hero__contact-top--contact {
    padding-left: 0;
    margin: 3rem auto 1.6rem auto;
}

@media (min-width: 768px) {
    .contact {
        border: none;
    }
}

@media (min-width: 1024px) {
    .contact {
        border: none;
    }

    .hero__contact-top--contact {
        margin: 3rem;
    }
}
