.footer {
    background-color: var(--color-1);
    padding: 0;
    min-height: 80px;
}

.footer-cont {
    background-color: var(--color-1);
    
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    min-height: 80px;
}

.footer__logo {
    max-width: 150px;
}

.footer__logo-img {
    width: 100%;
    height: auto;
}

.footer__social {
    display: flex;
    gap: 20px;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
}

.footer__social-icon {
    color: white;
    fill: white;
    stroke: white;
    width: 24px;
    height: 24px;
    transition: opacity 0.2s ease;
}

.footer__social-link:hover .footer__social-icon:hover {
    opacity: 0.8;
}

.footer__copyright {
    color: #fff;
    font-size: var(--font-size-small);
    text-align: center;
    justify-self: end;
}


/* Tablet and desktop styles */
@media (min-width: 768px) {

    .footer-cont {
        width: 90vw;
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer__logo {
        flex: 1;
        max-width: 200px;
    }

    .footer__social {
        justify-content: flex-end;
    }

    .footer__copyright {
        text-align: right;
    }
}
