.hero {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, black, var(--color-primary));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: clamp(140px, 35vh, 360px);

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.hero__video-container {
    align-self: center;
    width: 92%;
    aspect-ratio: 16/9;
    /* background-color: rgba(255, 255, 255, 0.6); */
    position: relative;
    /* border: 4px solid rgba(255, 255, 255, 0.6); */
    border-radius: 8px;
}

.hero__video {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

/* Pulse effect */

.pulse {
    background-color: rgba(255, 255, 255, 0.6);;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    animation: pulseEffect 12s infinite ease-out;
    opacity: 0;
}

.pulse1 {
    animation-delay: 0s;
}

.pulse2 {
    animation-delay: 4s;
}

.pulse3 {
    animation-delay: 8s;
}

@keyframes pulseEffect {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

/* Tablet and larger screens */
@media (min-width: 768px) {
    .hero {
        padding-top: clamp(140px, 30vh, 300px);
    }

    .hero__video-container {
        width: 80%;
    }

    @keyframes pulseEffect {
        0% {
            transform: scale(1);
            opacity: 0.6;
        }
        100% {
            transform: scale(1.15);
            opacity: 0;
        }
    }
}

/* Desktop screens */
@media (min-width: 1024px) {
    .hero {
        padding-top: clamp(140px, 25vh, 440px);
    }

    .hero__video-container {
        width: 60%;
        max-width: 1200px;
    }

    @keyframes pulseEffect {
        0% {
            transform: scale(1.);
            opacity: 0.6;
        }
        100% {
            transform: scale(1.11);
            opacity: 0;
        }
    }
}