.hero {
    display: flex;
    flex-direction: column;
    padding-top: var(--navbar-height);
    padding-bottom: 15px;
    top: 0;
    left: 0;
    min-height: max(fit-content, 100vh);
    width: 100%;
    position: relative;

    overflow: hidden !important;  /* breaks view otherwise (pulse) */
    background: var(--color-1);
}

/* override global */
section.hero {
    scroll-padding-top: 0;
    scroll-padding-bottom: 0;
}

.hero__video-cont-cont {
    width: 100%;
    margin-top: 18vh;
    margin-bottom: 5vh;
    padding: 3rem 0;
    background: linear-gradient(to bottom, var(--color-1) 0%, var(--color-4) 50%, var(--color-1) 100%);
    display: flex;
    flex-direction: column;
}

.hero__video-container {
    position: relative;
    align-self: center;
    width: 88%;
    aspect-ratio: 16/9;

    background-color: rgba(255, 255, 255, 0.8);
    border: 4px solid rgba(255, 255, 255, 0.6);
    border-radius: 8px;
}

.hero__video-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;

    background-image: url('../images/hero-vid-cover.png');
    background-size: cover;
    background-position: center;

    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.hero__video-cover.hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.hero__video {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.hero__contact-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 0.2rem;
}

.hero__contact-email-wrapper {
    margin: 0 auto;
    gap: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.hero__contact-email {
    align-self: center;

    font-family: var(--font-family-1);
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-body);
    color: var(--font-color-white);

    transition: color 0.5s ease;
}

.hero__contact-email.copied {
    color: var(--color-accent2);
}

.hero__contact-email:hover {
    cursor: pointer;
}

.hero__contact-email-copy {
    max-width: 20px;
    margin-left: 5px;
    filter: brightness(1) invert(1);
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.hero__contact-email-copy:hover,
.hero__contact-email:hover {
    transition: transform 0.4s ease-in-out;
}

.hero__contact-email-copy:active,
.hero__contact-email:active {
    transition: transform 0.3s ease-in-out;
}

.hero__contact-email-copied {
    margin-left: 0;
    margin-top: 4px;
    align-self: center;

    font-family: var(--font-family-1);
    font-weight: var(--font-weight-thin);
    color: var(--font-color-white);
    font-size: var(--font-size-body);
    opacity: 0;

    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.hero__contact-email-copied.show {
    opacity: 1;
    transform: translateY(0);
}


.hero__contact-button {
    align-self: center;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;

    border: 2px solid var(--color-1);
    border-radius: 8px;

    font-family: var(--font-family-1);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
    background-color: var(--color-5);
    color: var(--font-color-black);

    text-decoration: none;
    text-align: center;
    cursor: pointer;

    filter: drop-shadow(0 0 2px #fff);
}

.hero__contact-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: var(--color-4);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.4s ease-out, height 0.4s ease-out;
    z-index: -1;
}

.hero__contact-button:hover::after {
    width: 200%;
    height: 200%;
}

.hero__contact-button:active {
    background-color: var(--color-accent);
    translate: 0 2px;
}

/* Tablet and larger screens */
@media (min-width: 768px) {

    .hero__video-cont-cont {
        width: 100%;
        margin-top: 15vh;
        margin-bottom: 1.4rem;
        background: linear-gradient(to bottom, var(--color-1) 0%, var(--color-4) 50%, var(--color-1) 100%);
        display: flex;
        flex-direction: column;
    }

    .hero__video-container {
        width: 80%;
    }
}

/* Desktop screens */
@media (min-width: 1024px) {

    .hero {
        min-height: max(fit-content, 100vh);
        background: var(--color-1);
    }

    .hero__video-cont-cont {
        margin-top: 15vh;
        background: linear-gradient(to bottom, var(--color-1) 0%, var(--color-4) 50%, var(--color-1) 100%);
    }

    .hero__video-container {
        width: 60%;
        max-width: 800px;
    }

    .hero__contact-top {
        padding-left: 60px;
        flex-direction: row;
    }

    .hero__contact-email-copied {
        margin-left: 0.5rem;
        margin-top: 0;
    }

    .hero__contact-button {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

/* Landscape mode */
@media (orientation: landscape) and (max-height: 600px) {
    .hero {
        padding: var(--navbar-height) 0 20px;
    }
    
    .hero__video-container {
        max-height: 70vh;
        width: 60%;
        aspect-ratio: 16/9;
        margin-top: 5%;
    }
}