/* -- DESKTOP -- */
.hero {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #000;
}

.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    -webkit-box-reflect: below 2px linear-gradient(transparent, #0005);
}

.hero-container .hero-box {
    position: relative;
    width: 300px;
    height: 300px;
    background: linear-gradient(
        45deg,
        #e6bcbc 10%,
        transparent 10%,
        transparent 50%,
        #e6bcbc 50%,
        #e6bcbc 60%,
        transparent 60%,
        transparent 100%
    );
    background-size: 40px 40px;
    transform: rotate(calc(var(--i) * 90deg));
    animation: 
        animate 0.8s linear infinite,
        fadeOut 4s forwards;
}

@keyframes animate {
    0% {
        background-position: 40px;
    }
    100% {
        background-position: 0px;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

/* -- TABLET -- */
@media only screen and (max-width: 768px) {
    .container .box {
        width: 200px;
        height: 200px;
    }
}

/* -- MOBILE -- */
@media only screen and (max-width: 480px) {
    .container .box {
        width: 150px;
        height: 150px;
    }
}
