/* Mobile / Base Styles */
@media (min-width: 0px) {

        /* Navbar - mobile*/

        .navbar {
            z-index: 1000;
            width: 100%;
            position: fixed;
            top: 0;
            padding: 0.5rem 1rem;
            background-image: linear-gradient(#050306, #36363a);
            transition: transform 0.4s ease;

            max-height: 85px;
        }

        .navbar.hide {
            transform: translateY(-100%);
            transition: transform 0.8s ease;
        }
    
        .navbar-main {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .navbar-mobile-empty {
            display: block;
            min-width: 34px;
        }
    
        .navbar .brand-img-wrapper {
            width: 130px;
            display: block;
        }
    
        .navbar .brand-img-wrapper img {
            width: 100%;
            height: auto;
        }
    
        .toggle-button {
            background-color: black;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            padding: 0.3rem;
        }
    
        .toggle-button .bar {
            width: 1.8rem;
            height: 0.2rem;
            background-color: white;
        }
    
        .navbar-links {
            display: flex;
            flex-direction: column;
            align-items: center;

            background-color: black;
            position: absolute;
            top: 100%;
            right: 4px;
            width: 100%;

            transform: translateY(-100%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
        }
    
        .navbar-links.active {
            transform: translateY(0%);
            opacity: 1;
            visibility: visible;
        }
        
        .navbar-links.active li {
            text-align: center;
            padding: 1.5rem 0;
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.9);
        }

        /* .navbar-links li:last-child {
            border-bottom: none;
        } */
        
        .navbar-links a {
            color: white;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            position: relative;
        }
}




/* all screens tablet and up */
@media (min-width: 768px) {

        /* Navbar - tablet */

        .navbar {
            padding: 0;
            position: relative;
            justify-content: center;
        }

        .navbar-mobile-empty {
            display: none;
        }
        .navbar .toggle-button {
            display: none;
        }
    
        .navbar-links {
            display: flex;
            flex-direction: row;
            position: static;
            width: auto;
            gap: 3rem;
            padding: 1rem 0;
        }
}