/* Navbar - Mobile First */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: clamp(80px, 15vh, 160px);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 100;
    padding: 0 15px;
}

.navbar--hidden {
    transform: translateY(-100%);
}

/* Logo */
.navbar__logo {
    height: 90%;
    display: block;
    align-self: center;
}

.navbar__logo-img {
    height: 90%;
    cursor: pointer;
}

.navbar__logo-img:hover {
    cursor: pointer;
}

/* Navlist - Mobile (Default) */
.navbar__navlist {
    position: absolute;
    flex-direction: column;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
    height: auto;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 5;
    padding: 20px 0;
}

.navbar__navlist.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.navbar__link {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 10px 0;
    padding-top: 8px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.navbar__link--underline {
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-secondary);
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navbar__link:hover {
    color: var(--color-accent);
}

.navbar__link:hover .navbar__link--underline {
    width: 100%;
    background-color: var(--color-accent);
}

.navbar__link:active .navbar__link--underline {
    transition: width 0.1s ease-in-out;
    width: 50%;
}

/* Hamburger Menu - Mobile (Default) */
.navbar__toggle {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 20px;
    width: 60px;
    height: 60px;
    z-index: 10;
    position: relative;
    align-items: center;
    justify-content: center;
}

.navbar__hamburger,
.navbar__hamburger::before,
.navbar__hamburger::after {
    content: '';
    display: block;
    background: var(--color-quaternary);
    height: 3px;
    width: 30px;
    transition: all 0.3s ease-in-out;
}

.navbar__hamburger::before {
    transform: translateY(-10px);
}

.navbar__hamburger::after {
    transform: translateY(7px);
}

/* X animation when menu is open */
.navbar__toggle.active .navbar__hamburger {
    background: transparent;
}

.navbar__toggle.active .navbar__hamburger::before {
    transform: rotate(45deg);
}

.navbar__toggle.active .navbar__hamburger::after {
    transform: rotate(-45deg) translateY(-3px) translateX(3px);
}

/* Tablet styles */
@media (min-width: 769px) {
    .navbar {
        justify-content: space-around;
        padding: 0;
    }
    
    /* .navbar__logo {
        display: flex;
        justify-content: center;
    } */
    
    .navbar__toggle {
        display: none;
    }
    
    .navbar__navlist {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: clamp(180px, 60vw, 800px);
        height: 100%;
        transform: none;
        opacity: 1;
        visibility: visible;
        padding: 0;

    }
    
    .navbar__link {
        padding: clamp(4px, 1.4vw, 40px);
        font-size: clamp(1.2rem, 1.8vw, 1.8rem);
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    /* Any additional desktop-specific styles */
}