.projects {
    background-color: var(--color-1);
}

/* .projects__title h2 {
    padding-top: 60px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: clamp(2rem, 4vw, 5rem);
    font-weight: 200;
    color: var(--color-primary);
    text-align: center;
} */

.projects__title {
    margin: 3rem auto 2rem auto;
    border-top: none;
    border-bottom: none;
    color: var(--font-color-white);
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.8));
}

.projects__grid {
    display: grid;
    grid-gap: 1rem; /* Fallback for older browsers */
    gap: 1rem;
    justify-items: center;
    margin: 0 5vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr; /* Mobile first - single column */
}

/* Tablet and up */
@media (min-width: 768px) {
    /* stuff */
}

@media (min-width: 1024px) {
    /* 2x3 grid */
    .projects__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects__grid {
        margin: 0 auto;
    }
}

.projects__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 95%;
    max-width: 550px;
    margin: 40px 0;
}

.projects__video-container {
    width: 85%;
    align-self: center;
    aspect-ratio: 16/9;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    margin-bottom: 30px;
}

/* Tablet and up - 2x3 grid */
@media (min-width: 768px) {
    .projects__video-container {
        width: 80%;
    }
}

.projects__selected {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projects__project-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--color-5);

    font-size: var(--font-size-heading-2);
    z-index: 2;
    color: var(--color-5);
}

.projects__selected-img {
    width: 64px;
}

.projects__project-subtitle-1 {
    font-family: var(--font-family-1), sans-serif;
    font-weight: 280;
    margin-bottom: 0.6rem;
    font-size: var(--font-size-subheading-1);
    z-index: 2;
    color: var(--color-5);
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
}

.projects__project-subtitle-2 {
    font-family: var(--font-family-1), sans-serif;
    font-weight: 280;
    margin-bottom: 0.6rem;
    font-size: var(--font-size-subheading-2);
    z-index: 2;
    color: var(--color-5);
}

.projects__project-description {
    padding: 0 clamp(30px, 5vw, 45px);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    color: var(--color-5);
    margin-bottom: 0.5rem;
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.9));
}

.projects__video {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.pulse-projects {
    background-color: rgba(255, 255, 255, 0.8);;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    animation: pulseEffectProjects 9s infinite ease-out;
    opacity: 0;
}

.pulse1 {
    animation-delay: 0s;
}

.pulse2 {
    animation-delay: 3s;
}

.pulse3 {
    animation-delay: 6s;
}

@keyframes pulseEffectProjects {
    0% {
        transform: scale(1);
        opacity: 0.9;
    }
    100% {
        transform: scale(1.2, 1.4);
        opacity: 0;
    }
}

@media (min-width: 768px) {
    @keyframes pulseEffectProjects {
        0% {
            transform: scale(1);
            opacity: 0.9;
        }
        100% {
            transform: scale(1.16, 1.32);
            opacity: 0;
        }
    }
}

/* Desktop screens */
@media (min-width: 1024px) {

    @keyframes pulseEffectProjects {
        0% {
            transform: scale(1);
            opacity: 0.9;
        }
        100% {
            transform: scale(1.16, 1.32);
            opacity: 0;
        }
    }
}