/* all mobile / Base Styles */
@media (min-width: 0px) {

        /* Reel - mobile */

        .reel {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            /* background: url("assets/leaf.jpg") no-repeat center center; */
            background-color: black;
            background-size: cover;
            /* padding: 7rem 1.2rem; */
            height: 80vh;
            position: relative;

            padding-top: 50px;
            min-height: 600px;
        }

        .reel-content-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .reel-text {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
    
        .reel h1 {
            font-size: 2rem;
            color: white;
        }

        .reel-hr {
            width: 80%;
            border: 1px solid white;
            margin-bottom: 2rem;
        }
    
        .reel iframe {
            aspect-ratio: 16 / 9;
            padding: 0.3rem;
            border: double 5px white;
        }
    
        .reel-video {
            width: 90%;
        }
}




/* all screens tablet and up */
@media (min-width: 768px) {

        /* Reel - tablet */

        .reel {
            min-height: 700px;
            padding: 150px 20px;
            padding-top: 0px;
        }
    
        .reel-container {
            width: 70vw;
            max-width: 900px;
        }
}