/* ------------------------------------------------------------ */
/* Custom Properties */
/* ------------------------------------------------------------ */

:root {
    /* navbar height / offset */
    --navbar-height: clamp(80px, 11vh, 120px);

    /* Fonts */
    --font-family-1: 'Nunito Sans', sans-serif, arial;
    --font-family-2: 'Raleway', sans-serif, arial;
    --font-weight-thin: 200;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --font-color-white: #fff;
    --font-color-grey1: #ccc;
    --font-color-grey2: #333;
    --font-color-black: #000;

    --font-size-heading: clamp(1.5rem, 5vw, 2.6rem);
    --font-size-subheading-1: clamp(1.25rem, 4vw, 2rem);
    --font-size-subheading-2: clamp(1.125rem, 3vw, 1.5rem);
    --font-size-body: clamp(1rem, 2vw, 1.25rem);
    --font-size-small: clamp(0.8rem, 2vw, 1.125rem);

    /* Colors */
    --color-1: #000;
    --color-2: #383838;
    --color-3: #787878;
    --color-4: #ccc;
    --color-5: #fff;
    --color-accent: #71BAC5; /* Teal accent */
    --color-accent2: #83b9c2; /* Lighter teal */

    /* Breakpoints */
    --breakpoint-mobile: 768px;
    --breakpoint-tablet: 1024px;
    --breakpoint-desktop: 1440px;

}


/* ------------------------------------------------------------ */
/* Reset html globals */
/* ------------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

body, ul, li, a, p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-bottom: var(--navbar-height);
}


/* ------------------------------------------------------------ */
/* Other globals */
/* ------------------------------------------------------------ */

section, footer {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 2rem 0;
    scroll-padding-top: var(--navbar-height);
}

.section__title {
    text-align: center;

    font-family: 'Nunito Sans', sans-serif;
    font-size: clamp(2.4rem, 6vw, 4.4rem);
    font-weight: 400;

    color: var(--color-secondary);
    margin: 0 auto;
    max-width: 600px;
}

.--text-link {
    text-decoration: none;
    color: inherit;
}

.--w60px {
    width: 60px;
}


/* ------------------------------------------------------------ */
/* Fonts */
/* ------------------------------------------------------------ */

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kirang';
    src: url('/assets/fonts/Kirang_Haerang/KirangHaerang-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marhey';
    src: url('/assets/fonts/Marhey/Marhey-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('/assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('/assets/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}


/* ------------------------------------------------------------ */
/* Animations */
/* ------------------------------------------------------------ */

/* Animation keyframes */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Pulse effect */

.pulse {
    background-color: rgba(255, 255, 255, 0.6);;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    animation: pulseEffect 9s infinite ease-out;
    opacity: 0;

    --pulse-scale-x: 1.2;
    --pulse-scale-y: 1.4;
}

.pulse1 {
    animation-delay: 0s;
}

.pulse2 {
    animation-delay: 3s;
}

.pulse3 {
    animation-delay: 6s;
}

/* Tablet and larger screens */
@media (min-width: 768px) {
    .pulse {
        /* --pulse-scale-x: 1.15;
        --pulse-scale-y: 1.9; */
    }
}

/* Desktop screens */
@media (min-width: 1024px) {
    .pulse {
        /* --pulse-scale-x: 0;
        --pulse-scale-y: 0; */
    }
}

@keyframes pulseEffect {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }
    100% {
        transform: scale(var(--pulse-scale-x), var(--pulse-scale-y));
        opacity: 0;
    }
}

