/* Reset margins and padding for all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, ul, li, a, p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Custom Properties */
