.testimonials {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--color-1) 25%, var(--color-5) 50%, var(--color-1) 70%);
}

.testimonials__title {
    padding: 6px 8px;

    margin: 3rem auto 4rem auto;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.9));
    position: relative;
    z-index: 2;
    color: var(--font-color-white);
}

/*************************************************************
                        TRACK
*************************************************************/

.testimonials__carousel {
    width: 100vw;
    padding-left: 32px;
    padding-right: 32px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.testimonials__track {
    display: flex;
    flex-direction: row;

    /* gap and padding are related to centeredness are related */
    gap: 1rem;

    transition: transform 0.9s ease-in-out;
    align-items: flex-start;
    justify-content: flex-start;

    /* draggable */
    cursor: grab;
    touch-action: pan-y;     /* allow vertical scrolling, kill horizontal pan */
    user-select: none;  
}

.testimonials__track.dragging {
    cursor: grabbing;
    transition: none;
}

.testimonials__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.testimonials__button.prev {
    left: 0px;
}

.testimonials__button.next {
    right: 0px;
}

/* TABLET */
@media (min-width: 768px) {
    .testimonials__carousel {
        width: 90vw;

        /* keep: padding-left and padding-right are being targeted by JS */
        padding-left: 50px;
        padding-right: 50px;
    }

    .testimonials__track {
        /* padding-left: 1.5rem; */
        gap: 3rem;
    }

    .testimonials__button.next {
        right: 0px;
        margin-right: 0.1rem;
    }

    .testimonials__button.prev {
        margin-left: 0.1rem;
    }
}

/* DESTKOP */
@media (min-width: 1280px) {
    .testimonials__carousel {
        max-width: 1200px;
        /* width: clamp(280px, 90vw, 1400px); */
        /* padding: 0 60px; */
    }

}


/*************************************************************
                        CARD
*************************************************************/


.testimonials__card {
    flex: 0 0 auto;
    height: auto;
    /* width set in testimonialCarousel.js */
    margin: 0 auto;
    padding: 1rem;

    background: var(--color-5);
    color: var(--color-2);

    font-family: 'Nunito Sans', sans-serif;
    border: 6px double;
    border-color: black;
    border-radius: 20px;
    filter: drop-shadow(0 0 6px #000);
}

.testimonials__author {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
}

.testimonials__author-headshot {
    width: 80%;
    max-width: 180px;
    margin-bottom: 8px;
    margin-top: 20px;
    align-self: center;
    border-radius: 20px;
    border: 4px double;
    border-color: var(--color-4);
    filter: drop-shadow(0 0 3px #000);
}

.testimonials__author-name-check {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.testimonials__author-check {
    margin-left: 0.4rem
}

.testimonials__author-name {
    font-size: var(--font-size-subheading-1);
    text-align: center;
}

.testimonials__author-title {
    padding-right: clamp(2px, 2vw, 20px);
    font-size: var(--font-size-body);
    font-weight: 200;
    text-align: right;
}

.testimonials__bling-top {
    height: 24px;
    width: 24px;
    margin-left: 30px;
    margin-bottom: 8px;
    transform: rotate(180deg);
}

.testimonials__bling-bottom {
    height: 24px;
    width: 24px;
    float: right;
    margin-right: 30px;
}

.testimonials__testimonial {
    text-align: justify;
    font-size: 0.7rem;
    font-family: 'Cormorant', 'Raleway', sans-serif, arial;
    line-height: 1.2;
}

.testimonials__author-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 24px;
}

.testimonials__author-links img {
    max-width: 20px;
    height: auto;
    opacity: 0.8;
    transition: 0.2s ease;
}

.testimonials__author-links img:hover {
    transform: translateY(-4px);
    opacity: 1;
}

.testimonials__author-links img:active {
    transform: translateY(2px);
}

.testimonials__wordcloud {
    margin-top: 2rem;
    align-self: center;
    width: clamp(120px, 10vw, 200px);
}

/* TABLET */
@media (min-width: 768px) {

    .testimonials__card {
        height: auto;
        padding: 1.4rem;
        filter: drop-shadow(0 0 10px #000);
    }

    .testimonials__button {
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.6);
    }

    .testimonials__author {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .testimonials__author-headshot {
        margin-bottom: 12px;
        margin-top: 12px;
        max-width: 160px;
    }

    .testimonials__author-name-check-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
    }

    .testimonials__author-name-check {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
    }

    .testimonials__author-name {
        font-size: var(--font-size-subheading-1);
        text-align: left;

        margin-top: 3rem;
    }

    .testimonials__author-name--duenas {
        text-align: center;
        max-width: 200px;
        overflow: hidden;
    }

    .testimonials__author-check {
        margin-top: 3rem;
    }

    .testimonials__author-title {
        padding-right: 0;
    }

    .testimonials__testimonial {
        font-size: 1.1rem;
    }
}

@media (min-width: 1280px) {
    /* DESTKOP */
}