.testimonials {
    background-color: var(--color-tertiary);
    display: flex;
    flex-direction: column;
}

.testimonials__carousel {
    position: relative;
    max-width: 98vw;
    margin: 0 auto;
    padding: 0 40px;
    overflow: hidden;
}

.testimonials__track {
    display: flex;
    flex-direction: row;
    transition: transform 0.9s ease-in-out;
    gap: 2rem;
}

.testimonials__card {
    flex: 0 0 calc(100%); /* Mobile first */
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: var(--color-accent);
    overflow: hidden;

    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-primary);
}

.testimonials__author {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
}

.testimonials__author-headshot {
    width: 80%;
    margin-bottom: 8px;
    align-self: center;
}

.testimonials__author-name-verified {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    gap: 1rem;
    justify-content: center;
}

.testimonials__author-name {
    font-size: clamp(1rem, 5vw, 2.4rem);
}

.testimonials__author-title {
    padding-right: clamp(2px, 2vw, 20px);
    font-size: clamp(0.8rem, 4vw, 1.4rem);
    font-weight: 200;
    text-align: right;
}

.testimonials__author-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.testimonials__author-links img {
    max-width: 20px;
    height: auto;
    opacity: 0.8;
    transition: 0.2s ease;
}

.testimonials__author-links img:hover {
    transform: translateY(-4px);
    opacity: 1;
}

.testimonials__author-links img:active {
    transform: translateY(2px);
}





.testimonials__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
}

.testimonials__button.prev {
    left: 0;
}

.testimonials__button.next {
    right: 0;
}

.testimonials__wordcloud {
    align-self: center;
    width: clamp(120px, 10vw, 200px);
}

/* Tablet and Desktop styles */
@media (min-width: 768px) {
    .testimonials__carousel {
        width: 1400px;
    }

    .testimonials__card {
        flex: 0 0 calc((100% - 4rem) / 3); /* Show 3 cards */
    }
}